# Supabase (Auth & Database)
NEXT_PUBLIC_SUPABASE_URL=https://czitnzwpeqzfnbbosxbz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_uVIgcp3dLxEK18mNMYJswA_X8ur6tD2

# Backend API 
NEXT_PUBLIC_API_URL=http://localhost:3001/api
# TODO: Deploy backend and fill URL here